<div class="navbar bg-light" >
  <%= link_to "TestGuru", root_path, class: "navbar-brand text-secondary" %>
  <div class="nav">
    <b><%=current_user.email %> </b> &nbsp;|&nbsp;
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'text-dark' %>
  </div>
</div>
