<% mas = gist.url.split('/') %>
<tr>
  <td><%= link_to truncate(gist.question.body, length: 25), [:admin, gist.question] %></td>
  <td><%= link_to mas[3], gist.url, target: gist.url %></td>
  <td><%= gist.user.email %></td>
</tr>
