.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

#tooltip {
  color: green;
}

.myProgress {
  width: 100%;
  background-color: grey;
}

.progress-bar {
  height: 30px;

  text-align: center;
  line-height: 30px;
  color: white;
}
