<h2>All tests</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Author</th>
    <th>Count_Q</th>
    <th>Action</th>
  </tr>
  <%= render partial: "test", collection: @tests %>
</table>
